[submodule "src/go"]
	path = src/go
	url = https://github.com/shadowsocks/go.git
	branch = shadowsocks
[submodule "src/kcptun"]
	path = src/kcptun
	url = https://github.com/shadowsocks/kcptun.git
	branch = shadowsocks
