<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.shadowsocks.plugin.kcptun">
    <uses-feature android:name="android.hardware.touchscreen"
                  android:required="false"/>
    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="26"/>
    <application android:allowBackup="false"
                 android:label="kcptun"
                 android:icon="@mipmap/ic_launcher">
        <provider android:name=".BinaryProvider"
                  android:exported="true"
                  android:authorities="com.github.shadowsocks.plugin.kcptun.BinaryProvider">
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_NATIVE_PLUGIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_NATIVE_PLUGIN"/>
                <data android:scheme="plugin"
                      android:host="com.github.shadowsocks"
                      android:pathPrefix="/kcptun"/>
            </intent-filter>
            <meta-data android:name="com.github.shadowsocks.plugin.id"
                       android:value="kcptun"/>
            <meta-data android:name="com.github.shadowsocks.plugin.default_config"
                       android:value="crypt=none;mode=normal;mtu=1200;nocomp;dscp=46;parityshard=0"/>
        </provider>
        <activity android:name=".HelpCallback"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_HELP"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="plugin"
                      android:host="com.github.shadowsocks"
                      android:path="/kcptun"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
